@media (min-width: 768px) {
  .jj-navbar-huge {
    height: 80px;
    padding-left: 60px;
    padding-right: 60px; }
    .jj-navbar-huge .navbar-brand {
      height: 80px;
      padding-top: 30px; }
    .jj-navbar-huge .input-group {
      margin-top: 23px;
      margin-bottom: 23px; } }
.btn {
  border-width: 0 0 2px 0;
  text-transform: uppercase; }

.btn-huge {
  font-size: 1.4em;
  padding: 0.5em 2em; }

html, body {
  height: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 28px; }

.centered {
  text-align: center; }

.contrast {
  color: #dd0000; }

u {
  text-decoration: none;
  border-bottom: 2px solid; }

.no-svg .logo {
  background-image: url("../../img/logo.png"); }

.jumbotron h1 {
  line-height: 1.2em; }
  .jumbotron h1 u {
    color: #dd0000; }

.addthis_toolbox {
  max-width: 320px;
  margin: 20px auto; }
  .addthis_toolbox > a, .addthis_toolbox > .twitter-share-btn {
    float: left;
    width: 50%; }
    .addthis_toolbox > a > *, .addthis_toolbox > .twitter-share-btn > * {
      margin: 10px; }
    .addthis_toolbox > a:first-child > *, .addthis_toolbox > .twitter-share-btn:first-child > * {
      float: right; }

.last-paragraph {
  padding-bottom: 40px;
  *zoom: 1; }
  .last-paragraph:before, .last-paragraph:after {
    display: table;
    content: "";
    line-height: 0; }
  .last-paragraph:after {
    clear: both; }

.greyed {
  color: #aaaaaa; }
  .greyed a {
    color: inherit; }

.logo-wrapper a {
  display: block;
  text-decoration: none !important;
  color: inherit;
  margin-bottom: 40px;
  font-weight: bold; }

.logo {
  display: block;
  width: 132px;
  height: 27px;
  margin: 0 auto;
  background: url("http://outline.com/static/img/logo.svg") no-repeat center;
  text-index: -10000px;
  overflow: hidden;
  font-size: 0;
  color: transparent; }

@media (min-width: 992px) {
  .number-figure-huge {
    font-size: 96px;
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 20px; } }
.no-svg .logo {
  background-image: url("http://outline.com/static/img/logo.png"); }

@media (min-width: 768px) {
  .home-banner {
    padding: 70px;
    background-image: url("../../img/homepage-bg.jpg"); }
    .home-banner .banner-content h1 {
      font-size: 70px; } }
@media (min-width: 992px) {
  .home-banner {
    padding: 100px;
    background-image: url("../../img/homepage-bg.jpg"); } }
